* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}


/* CSS PARA HEADER Y FOOTER */
#contenedor_nav, #contenedor_footer {
    border: 2px solid black;
    margin: 5px;
    padding: 5px;
    background-color: gray;
}

.logo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.navbar, .footer_navbar {
    display: flex;
    justify-content: space-between;
}

.navbar ul, .footer_navbar ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    width: 100%;
    background-color: gray;
}

.navbar ul li, .footer_navbar ul li {
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-left: 20px;
    color: black;
}

.navbar ul li a, .footer_navbar ul li a {
    font-size: 13px;
    padding: 15px;
    color: black;
}
/* CSS PARA HEADER Y FOOTER */


/* CSS PARA LOGIN.HTML Y REGISTER.HTML */
.boton {
    background-color: gray;
    border-width: 1px;
}

.body {
    margin: 0;
    padding: 0;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    flex-wrap: wrap;
    flex-direction: column;
}

.container {
    display: flex;
    justify-content: space-around;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    max-width: 500px;
    width: 100%;
    flex-direction: column;
}

.regis {
    text-align: center;
    color: black;
    font-size: 24px;
    margin-bottom: 20px;
}

.form-group, .consultas {
    margin-bottom: 20px;
}

.preguntar {
    width: 100%;
    padding: 10px;
}

.invalid-feedback {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

.btn-btn-success {
    width: 100%;
    padding: 12px;
    background-color: black;
    color: white;
    border-radius: 5px;
    font-size: 16px;
}

/* CSS PARA LOGIN.HTML Y REGISTER.HTML */


 /* CSS PARA INDEX.HTML */
.lista_recetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.lista_recetas article {
    border-radius: 10px;
    max-width: 300px;
    width: 100%;
    padding: 15px;
    text-align: center;
}

.lista_recetas img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.lista_recetas h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.lista_recetas p {
    font-size: 14px;
    margin-bottom: 15px;
}

.lista_recetas a {
    display: inline-block;
    padding: 10px 20px;
    background-color: green;
    color: white;
    border-radius: 5px;
    font-size: 14px;
}

#cargar-mas {
    display: block;
    margin: 20px auto;
}

 /* CSS PARA INDEX.HTML */

