

 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

#contenedor_nav, #contenedor_footer {
    border: 2px solid black;
    margin: 5px;
    padding: 5px;
    background-color: gray;
}

.logo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.navbar, .footer_navbar {
    display: flex;
    justify-content: space-between;
}

.navbar ul, .footer_navbar ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    width: 100%;
    background-color: gray;
}

.navbar ul li, .footer_navbar ul li {
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-left: 20px;
    color: black;
}

.navbar ul li a, .footer_navbar ul li a {
    font-size: 13px;
    padding: 15px;
    color: black;
}



.body {
    margin: 0;
    padding: 0;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    flex-wrap: wrap;
    flex-direction: column;
}

.container {
    display: flex;
    justify-content: space-around;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    max-width: 500px;
    width: 100%;
    flex-direction: column;
}

.regis {
    text-align: center;
    color: black;
    font-size: 24px;
    margin-bottom: 20px;
}

.form-group, .consultas {
    margin-bottom: 20px;
}

.preguntar {
    width: 100%;
    padding: 10px;
}

.invalid-feedback {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

.btn-btn-success {
    width: 100%;
    padding: 12px;
    background-color: black;
    color: white;
    border-radius: 5px;
    font-size: 16px;
}

.lista_recetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.lista_recetas article {
    border-radius: 10px;
    max-width: 300px;
    width: 100%;
    padding: 15px;
    text-align: center;
}

.lista_recetas img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.lista_recetas h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.lista_recetas p {
    font-size: 14px;
    margin-bottom: 15px;
}

.lista_recetas a {
    display: inline-block;
    padding: 10px 20px;
    background-color: green;
    color: white;
    border-radius: 5px;
    font-size: 14px;
}

#cargar-mas {
    display: block;
    margin: 20px auto;
}


.boton {
    background-color: green;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 14px;
}

.boton:hover {
    background-color: green;
}


.recetas_categorias {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}


.categorias-item {
    background-color: white;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
}



.categorias-item a {
    text-decoration: none;
    color: green;
    font-size: 18px;
    display: block;
    margin: 10px ;
}

.categorias-item a:hover {
    color: green;
}


.nombre_categorias {
    text-align: center;
    font-size: 24px;
    margin: 20px 0;
    color: black;
}




#detalle-receta {
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}


.nombre_receta {
    font-size: 24px;
    color: green;
    margin-bottom: 20px;
    text-align: center;

}

.foto_receta {
    max-width: 60%;
    max-height: 400px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.instrucciones_receta {
    m
    font-size: 16px;
    text-align: justify;
    margin: 20px 0px;
    color: black;
}


.tiempo_coccion {
    font-size: 16px;
    color: black;
    margin-bottom: 20px 0px;
    text-align: justify;

}


.lista_categorias {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin: 20px;
    padding: 0;
}


.lista_categorias article {
    width: 280px;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 10px;
    background-color: white;
    text-align: center;
}


.lista_categorias img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}


.lista_categorias h3 {
    font-size: 18px;
    color: black;
    margin-bottom: 5px;
}


.lista_categorias p {
    font-size: 14px;
    color: black;
    margin-bottom: 10px;
}


.lista_categorias a {
    display: inline-block;
    padding: 10px 15px;
    background-color: green;
    color: white;
    font-size: 14px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}

.lista_categorias a:hover {
    background-color: green
    ;
}


.titulo_categorias {
    text-align: center;
    font-size: 24px;
    margin: 20px 0;
    color: black;
}

/* Estilo para la lista de categorías */
.lista_categorias {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
    padding: 0;
}


.lista_categorias article {
    width: 280px;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 10px;
    background-color: white;
    margin: 10px; /* Espaciado entre artículos */
    text-align: center;
}

.lista_categorias img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.lista_categorias h3 {
    font-size: 18px;
    color: black;
    margin-bottom: 5px;
}

.lista_categorias p {
    font-size: 14px;
    color: black;
    margin-bottom: 10px;
}

.lista_categorias a {
    display: inline-block;
    padding: 8px 10px;
    background-color: green;
    color: white;
    font-size: 14px;
    border-radius: 3px;
    text-decoration: none;
}

.lista_categorias a:hover {
    background-color: green;
}

.invalido {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}
